In [102]:
import pandas as pd

In [103]:
df = pd.read_csv('city_day.csv')

In [104]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,NaN,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,NaN,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,NaN,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,NaN,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,NaN,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25550,Thiruvananthapuram,2020-04-06,16.88,31.28,4.32,10.18,13.71,5.55,0.32,4.24,30.17,NaN,NaN,NaN,59.0,Satisfactory
25551,Thiruvananthapuram,2020-04-07,18.57,35.34,5.70,9.56,12.70,4.97,0.46,6.00,34.58,NaN,NaN,NaN,53.0,Satisfactory
25552,Thiruvananthapuram,2020-04-08,18.85,37.62,5.44,8.86,12.09,4.39,0.47,5.79,51.56,NaN,NaN,NaN,61.0,Satisfactory
25553,Thiruvananthapuram,2020-04-09,19.06,45.18,3.37,7.91,9.92,4.37,0.52,5.76,46.01,NaN,NaN,NaN,63.0,Satisfactory
25554,Thiruvananthapuram,2020-04-10,23.44,42.10,2.84,7.18,8.93,3.49,0.52,5.57,38.06,NaN,NaN,NaN,66.0,Satisfactory

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25555 entries, 0 to 25554
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        25555 non-null  object
 1   Date        25555 non-null  object
 2   PM2.5       21300 non-null  float64
 3   PM10        14853 non-null  float64
 4   NO          21046 non-null  float64
 5   NO2         22396 non-null  float64
 6   NOx         21534 non-null  float64
 7   NH3         15770 non-null  float64
 8   CO          23556 non-null  float64
 9   SO2         22056 non-null  float64
 10  O3          22045 non-null  float64
 11  Benzene     20433 non-null  float64
 12  Toluene     18146 non-null  float64
 13  Xylene      9138 non-null   float64
 14  AQI         21304 non-null  float64
 15  AQI_Bucket  21304 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.1+ MB

In [106]:
df.isnull().sum()

City              0
Date              0
PM2.5          4255
PM10          10702
NO             4509
NO2            3159
NOx            4021
NH3            9785
CO             1999
SO2            3499
O3             3510
Benzene        5122
Toluene        7409
Xylene        16417
AQI            4251
AQI_Bucket     4251
dtype: int64

In [107]:
df = df.fillna(df.mean())

C:\Users\INDIA\AppData\Local\Temp\ipykernel_3520\114435927.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

In [108]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,72.824121,127.653183,17.658008,18.22,17.15,25.66772,0.92,27.64,133.36,0.000000,0.020000,0.00000,177.582473,NaN
1,Ahmedabad,2015-01-02,72.824121,127.653183,17.658008,15.69,16.46,25.66772,0.97,24.55,34.06,3.680000,5.500000,3.77000,177.582473,NaN
2,Ahmedabad,2015-01-03,72.824121,127.653183,17.658008,19.30,29.70,25.66772,17.40,29.07,30.70,6.800000,16.400000,2.25000,177.582473,NaN
3,Ahmedabad,2015-01-04,72.824121,127.653183,17.658008,18.48,17.97,25.66772,1.70,18.59,36.08,4.430000,10.140000,1.00000,177.582473,NaN
4,Ahmedabad,2015-01-05,72.824121,127.653183,17.658008,21.42,37.76,25.66772,22.10,39.33,39.31,7.010000,18.890000,2.78000,177.582473,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25550,Thiruvananthapuram,2020-04-06,16.880000,31.280000,4.320000,10.18,13.71,5.55000,0.32,4.24,30.17,3.324202,9.148687,3.22439,59.000000,Satisfactory
25551,Thiruvananthapuram,2020-04-07,18.570000,35.340000,5.700000,9.56,12.70,4.97000,0.46,6.00,34.58,3.324202,9.148687,3.22439,53.000000,Satisfactory
25552,Thiruvananthapuram,2020-04-08,18.850000,37.620000,5.440000,8.86,12.09,4.39000,0.47,5.79,51.56,3.324202,9.148687,3.22439,61.000000,Satisfactory
25553,Thiruvananthapuram,2020-04-09,19.060000,45.180000,3.370000,7.91,9.92,4.37000,0.52,5.76,46.01,3.324202,9.148687,3.22439,63.000000,Satisfactory
25554,Thiruvananthapuram,2020-04-10,23.440000,42.100000,2.840000,7.18,8.93,3.49000,0.52,5.57,38.06,3.324202,9.148687,3.22439,66.000000,Satisfactory

In [109]:
dfList =list(set(df['City']))

In [110]:
num = {dfList[i] : i for i in range(0, len(dfList))}

In [111]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,72.824121,127.653183,17.658008,18.22,17.15,25.66772,0.92,27.64,133.36,0.000000,0.020000,0.00000,177.582473,NaN
1,Ahmedabad,2015-01-02,72.824121,127.653183,17.658008,15.69,16.46,25.66772,0.97,24.55,34.06,3.680000,5.500000,3.77000,177.582473,NaN
2,Ahmedabad,2015-01-03,72.824121,127.653183,17.658008,19.30,29.70,25.66772,17.40,29.07,30.70,6.800000,16.400000,2.25000,177.582473,NaN
3,Ahmedabad,2015-01-04,72.824121,127.653183,17.658008,18.48,17.97,25.66772,1.70,18.59,36.08,4.430000,10.140000,1.00000,177.582473,NaN
4,Ahmedabad,2015-01-05,72.824121,127.653183,17.658008,21.42,37.76,25.66772,22.10,39.33,39.31,7.010000,18.890000,2.78000,177.582473,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25550,Thiruvananthapuram,2020-04-06,16.880000,31.280000,4.320000,10.18,13.71,5.55000,0.32,4.24,30.17,3.324202,9.148687,3.22439,59.000000,Satisfactory
25551,Thiruvananthapuram,2020-04-07,18.570000,35.340000,5.700000,9.56,12.70,4.97000,0.46,6.00,34.58,3.324202,9.148687,3.22439,53.000000,Satisfactory
25552,Thiruvananthapuram,2020-04-08,18.850000,37.620000,5.440000,8.86,12.09,4.39000,0.47,5.79,51.56,3.324202,9.148687,3.22439,61.000000,Satisfactory
25553,Thiruvananthapuram,2020-04-09,19.060000,45.180000,3.370000,7.91,9.92,4.37000,0.52,5.76,46.01,3.324202,9.148687,3.22439,63.000000,Satisfactory
25554,Thiruvananthapuram,2020-04-10,23.440000,42.100000,2.840000,7.18,8.93,3.49000,0.52,5.57,38.06,3.324202,9.148687,3.22439,66.000000,Satisfactory

In [112]:
df['City']

0                 Ahmedabad
1                 Ahmedabad
2                 Ahmedabad
3                 Ahmedabad
4                 Ahmedabad
                ...
25550    Thiruvananthapuram
25551    Thiruvananthapuram
25552    Thiruvananthapuram
25553    Thiruvananthapuram
25554    Thiruvananthapuram
Name: City, Length: 25555, dtype: object

In [113]:
df['City']=df['City'].map(num)
df['City']

0        21
1        21
2        21
3        21
4        21
         ..
25550     9
25551     9
25552     9
25553     9
25554     9
Name: City, Length: 25555, dtype: int64

In [114]:
from sklearn.model_selection import train_test_split

In [115]:
from sklearn.linear_model import LinearRegression

In [116]:
x = df[['NO2','SO2','O3']]
y = df['City']

In [117]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [118]:
model = LinearRegression()

In [119]:
model.fit(x_train, y_train)

LinearRegression()

model.fit(x_train, y_train)

In [120]:
predictions = model.predict(x_test)

In [121]:
predictions

array([11.55003029, 11.71081158, 12.85022918, ..., 10.17016468,
       13.44648379,  9.83446605])

In [122]:
from sklearn.ensemble import RandomForestRegressor

In [123]:
model2 = RandomForestRegressor()

In [124]:
model2.fit(x,y)

RandomForestRegressor()

In [125]:
predictons = model.predict(x_test)

In [126]:
predictons

array([11.55003029, 11.71081158, 12.85022918, ..., 10.17016468,
       13.44648379,  9.83446605])

In [132]:
from sklearn.metrics import r2_score
y_pred = model2.predict(x_test)

In [133]:
r2_score(y_test, y_pred)

0.8244966591205678